<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pynx</title>

    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-wysihtml5.css" rel="stylesheet" />
    <link href="css/pynx.css" rel="stylesheet" />
  </head>
  <body>
    <div class="navbar navbar-fixed-top hidden" id="navbar">
      <div class="navbar-inner">
        <div class="container">
          <img class="brand" src="img/pynx-logo-small.png" alt="Pynx" />
          <div id="navbar-auth">
            <ul class="nav">
              <li id="navbar-memos"><a href="/memos">Memos</a></li>
              <li id="navbar-discussions"><a href="/discussions">Discussions</a></li>
            </ul>
            <div id="navbar-admin">
              <ul class="nav">
                <li id="navbar-admin"><a href="#">Admin</a></li>
                <li class="divider-vertical"></li>
              </ul>
            </div>
            <ul class="nav pull-right">
              <li><a class="brand" href="#" id="navbar-username"></a></li>
              <li class="divider-vertical"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container hidden" id="navbase">
      <div class="row">
        <div class="span4" id="navbase-left">
        </div>
        <div class="span4 offset4" style="text-align: right" id="navbase-right">
        </div>
        <div class="span10 offset1"><hr /></div>
      </div>
    </div>

    <div class="modal hidden" id="auth-modal">
      <div class="modal-header">
        <h3>Authentication error</h3>
      </div>
      <div class="modal-body">
        <p>
          Something happened! Either:
          <ul>
            <li>You're not logged in properly anymore,</li>
            <li>You tried to access something you shouldn't have.</li>
          </ul>
          If this just won't go away, try logging out and back in again.
        </p>
      </div>
      <div class="modal-footer">
        Click outside the box to dismiss, or you can <a href="/logout">Logout</a>.
      </div>
    </div>

    <div class="container" id="primary-content">
      <div class="span8 offset2">
        <div style="text-align: center">
          <img src="img/pynx-logo.png" />
          <form id="authentication-login-form" style="text-align: center">
            <input type="textbox" name="authentication-login-username"
              id="authentication-login-username" style="width: 40%"
              placeholder="Username" />
            <br />
            <input type="password" name="authentication-login-password"
              id="authentication-login-password" style="width: 40%"
              placeholder="Password" />
            <br />
            <input type="submit" name="authentication-login-submit"
              id="authentication-login-submit" value="Login"
              style="width: 30%; text-align: center; background: #f8f8f8" />
          </form>
          <h5 id="authentication-login-message"></h5>
        </div>
      </div>
    </div>

    <script type="text/template" id="authentication-login-template">
      <div class="span6 offset3">
        <div style="text-align: center">
          <img src="img/pynx-logo.png" />
          <form id="authentication-login-form" style="text-align: center">
            <input type="textbox" name="authentication-login-username"
              id="authentication-login-username" style="width: 40%"
              placeholder="Username" />
            <br />
            <input type="password" name="authentication-login-password"
              id="authentication-login-password" style="width: 40%"
              placeholder="Password" />
            <br />
            <input type="submit" name="authentication-login-submit"
              id="authentication-login-submit" value="Login"
              style="width: 30%; text-align: center; background: #f8f8f8" />
          </form>
          <h5 id="authentication-login-message"></h5>
        </div>
      </div>
    </script>

    <script type="text/template" id="discussion-post-template">
      <div id="discussion-post-<%= postid %>">
        <div class="row">
          <div class="span3 offset2 label">
            <%= author %>
          </div>
          <div class="span3 offset2" style="text-align: right; font-weight: bold">
            <%= timestamp %>
          </div>
        </div>
        <div class="row">
          <div class="span8 offset2 well">
            <%= content %>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="memo-list-template">
      
    </script>

    <script type="text/template" id="memo-list-item-template">
      <div class="row">
        <div class="span1 offset2"
          &nbsp;
          </div>
        <div class="span6">
          <h4>
            <%
              if(unread || false) {
                print('<i class="icon-envelope" />');
              }
            %>
            <a href="/memos/<%= id %>"><%= title %></a>
          </h4>
          <div style="text-align:right">posted by someone <%= postDateFormatted %></div>
          <hr />
        </div>
      </div>
    </script>

    <script type="text/template" id="memo-view-template">
      <div class="row">
        <div class="span3 offset2 label">
          <%= title %>
        </div>
        <div class="span1" id="memo-editbox">
          <a class="icon-edit" id="memo-view-edit" href="/"></a>
          <a class="icon-remove" id="memo-view-remove" href="/" />
        </div>
        <div class="span4" style="text-align: right; font-weight: bold; font-size: 8pt;">
          <%= postDateFormatted %>
        </div>
      </div>
      <div class="row">
        <div class="span8 offset2 well">
          <%= content %>
        </div>
      </div>
    </script>
    
    <script type="text/template" id="memo-edit-template">
      <div class="row">
        <div class="span3 offset2 label">
          Something
        </div>
        <div class="span3 offset2">
          Else
        </div>
      </div>
      <div class="row">
        <div class="span8 offset2 well">
          <form id="memo-edit-form" style="text-align: center" method="POST">
            <textarea id="memo-edit-textarea" class="span8" style="height: 30em;" />
            <input type="submit" id="memo-edit-submit" name="memo-edit-submit"
                   value="placeholder" style="width: 30%;"/>
          </form>
        </div>
      </div>
    </script>

    <script type="text/template" id="root-template">
      <a href="/discussions">Discussions</a>
    </script>

    <script type="text/template" id="discussion-thread-template">
      <p>Discussion: <%- title %></p>
    </script>
    
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/bootstrap-button.js"></script>
    <script src="js/lib/bootstrap-modal.js"></script>
    <script src="js/lib/wysihtml5-0.3.0_rc1.js"></script>
    <script src="js/lib/bootstrap-wysihtml5.js"></script>

    <script src="js/auth.js"></script>
    <script src="js/memo.js"></script>
    <script src="js/discussion.js"></script>
    <script src="js/router.js"></script>
    <script src="js/util.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>

