<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pynx</title>

    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/bootstrap-wysihtml5.css" rel="stylesheet" />
    <link href="/css/pynx.css" rel="stylesheet" />
  </head>
  <body>
    <div class="navbar navbar-fixed-top hidden" id="navbar">
      <div class="navbar-inner">
        <div class="container">
          <img class="brand" src="/img/pynx-logo-small.png" alt="Pynx" />
          <div id="navbar-auth">
            <ul class="nav">
              <li id="navbar-memos"><a href="/memos">Memos</a></li>
              <li id="navbar-discussions"><a href="/discussions">Discussions</a></li>
              <li id="navbar-admin"><a href="/admin">Admin</a></li>
              <li class="divider-vertical"></li>
            </div>
            <ul class="nav pull-right">
              <li><div class="brand" id="navbar-username"></div></li>
              <li class="divider-vertical"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container hidden" id="navbase">
      <div class="row">
        <div class="span4" id="navbase-left">
        </div>
        <div class="span4 offset4" style="text-align: right" id="navbase-right">
        </div>
        <div class="span10 offset1"><hr /></div>
      </div>
    </div>

    <div class="modal hidden fade" id="warning">
      <div class="modal-header">
        <a class="close" data-dismiss="modal" href="#">&times</a>
        <h3 id="warning-header"></h3>
      </div>
      <div class="modal-body" id="warning-message">
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div>

    <div class="modal hidden" id="auth-modal">
      <div class="modal-header">
        <h3>Authentication error</h3>
      </div>
      <div class="modal-body">
        <p>
          Something happened! Either:
          <ul>
            <li>You're not logged in properly anymore,</li>
            <li>You tried to access something you shouldn't have.</li>
          </ul>
          If this just won't go away, try logging out and back in again.
        </p>
      </div>
      <div class="modal-footer">
        Click outside the box to dismiss, or you can <a href="/logout">Logout</a>.
      </div>
    </div>

    <div class="container" id="primary-content">
    </div>

    <script type="text/template" id="authentication-login-template">
      <div class="span6 offset3">
        <div style="text-align: center">
          <img src="/img/pynx-logo.png" />
          <form id="authentication-login-form" style="text-align: center">
            <input type="textbox" name="authentication-login-username"
              id="authentication-login-username" style="width: 40%"
              placeholder="Username" />
            <br />
            <input type="password" name="authentication-login-password"
              id="authentication-login-password" style="width: 40%"
              placeholder="Password" />
            <br />
            <input type="submit" name="authentication-login-submit"
              id="authentication-login-submit" value="Login"
              style="width: 15%; text-align: center; background: #f8f8f8" />
          </form>
          <h5 id="authentication-login-message"></h5>
        </div>
      </div>
    </script>

    <script type="text/template" id="admin-main-template">
      <ul>
        <li><a href="/memos/new">New memo</a></li>
        <li><a href="/admin/new_user">New user</a</li>
        <li><a href="/admin/user_list">User list</a</li>
      </ul>
    </script>

    <script type="text/template" id="admin-new-user-template">
      <div class="span6 offset3 well">
        <form class="form-horizontal" id="admin-new-user-form">
          <fieldset>
            <div class="control-group">
              <label class="control-label">
                Username
              </label>
              <div class="controls">
                <input type="text" class="input-xlarge"
                       id="admin-new-user-username" />
              </div>

              <label class="control-label">
                Name
              </label>
              <div class="controls">
                <input type="text" class="input-xlarge"
                       id="admin-new-user-name" />
              </div>

              <label class="control-label">
                User role
              </label>
              <div class="controls">
                <select id="admin-new-user-type" class="input-xlarge">
                  <option>Resident</option>
                  <option>Doctor</option>
                  <option>Administrator</option>
                </select>
              </div>

              <label class="control-label">
                Password
              </label>
              <div class="controls">
                <input type="password" id="admin-new-user-password"
                       class="input-xlarge" />
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary"
                      id="admin-new-user-submit">Create User</button>
            </div>
          </fieldset>
        </form>
      </div>
    </script>

    <script type="text/template" id="admin-user-list-entry-template">
      <ul>
        <li>Username: <%= username %></li>
        <li>Name: <%= name %></li>
        <li>id: <%= id %></li>
        <li>type: <%= userType %></li>
      </ul>
      <hr />
    </script>

    <script type="text/template" id="admin-user-list-template">
      <div class="span6 offset3" id="admin-user-list">
        <ul id="admin-user-list"></ul>
      </div>
    </script>

    <script type="text/template" id="discussion-list-template">
      <div class="row">
        <div class="span2 offset5">
          <a class="btn" id="discussion-list-new"><i class="icon-pencil" />New discussion</a>
        </div>
        <br />
        <hr />
      </div>

      <div id="discussion-list"></div>
        
      <div class="row">
      </div>
    </script>

    <script type="text/template" id="discussion-list-item-template">
      <div class="row">
        <div class="span6 offset3">
          <h4>
            <%
              if(unread || false) {
                print('<i class="icon-envelope" />');
              }
            %>
            <a href="/discussions/<%= id %>"
            <%
              if(unread || false) {
                print('style="colour: #f44"');
              }
            %>
            ><%= title %></a>
          </h4>
          <div style="text-align: right">
            started by <%= authorName %> <% print(formatTimestamp(postDate)) %>
          </div>
          <hr />
        </div>
      </div>
    </script>

    <script type="text/template" id="discussion-view-template">
      <div class="row">
      </div>

      <div id="discussion-view-list"></div>
        
      <div class="row">
        <div class="span8 offset2 well">
          <form id="discussion-view-form" style="text-align: center" method="POST">
            <textarea id="discussion-view-textarea" class="span8" style="height: 30em;" />
            <input type="submit" id="discussion-view-submit" name="discussion-view-submit"
                   value="Reply" style="width: 30%;"/>
          </form>
        </div>
      </div>
    </script>

    <script type="text/template" id="discussion-post-template">
      <div class="row">
        <div class="span3 offset2 label">
          <%= authorName %>
        </div>
        <div class="span3 offset2" style="text-align: right; font-weight: bold">
          <% print(formatTimestamp(postDate)) %>
        </div>
      </div>
      <div class="row">
        <div class="span8 offset2 well">
          <%= body %>
        </div>
      </div>
    </script>

    <script type="text/template" id="discussion-new-template">
      <div class="row">
        <div class="span8 offset2 well">
          <form id="discussion-new-form" style="text-align: center" method="POST">
            <input type="textbox" id="discussion-new-title" class="span4"
              placeholder="Discussion title" />
            <textarea id="discussion-new-textarea" class="span8" style="height: 30em;" />
            <input type="submit" id="discussion-new-submit" name="discussion-new-submit"
                   value="placeholder" style="width: 30%;"/>
          </form>
        </div>
      </div>
    </script>

    <script type="text/template" id="memo-list-item-template">
      <div class="row">
        <div class="span1 offset2"
          &nbsp;
          </div>
        <div class="span6">
          <h4>
            <%
              if(unread || false) {
                print('<i class="icon-envelope" />');
              }
            %>
            <a href="/memos/<%= id %>"
            <%
              if(unread || false) {
                print('style="color: #f44"');
              }
            %>
            ><%= title %></a>
          </h4>
          <div style="text-align:right">
            posted by <%= posterName %>
            <% print(formatTimestamp(postDate)) %>
          </div>
          <hr />
        </div>
      </div>
    </script>

    <script type="text/template" id="memo-view-template">
      <div class="row">
        <div class="span3 offset2 label">
          <%= title %>
        </div>
        <div class="span1" id="memo-editbox">
          <a class="icon-edit" id="memo-view-edit" href="/"></a>
        </div>
        <div class="span4" style="text-align: right; font-weight: bold; font-size: 8pt;">
          <%= formatTimestamp(postDate) %>
        </div>
      </div>
      <div class="row">
        <div class="span8 offset2 well">
          <%= content %>
        </div>
      </div>
    </script>
    

    <script type="text/template" id="memo-new-template">
      <div class="row">
        <div class="span8 offset2 well">
          <form id="memo-new-form" style="text-align: center" method="POST">
            <input type="textbox" id="memo-new-title" class="span4"
              placeholder="Memo title" />
            <textarea id="memo-new-textarea" class="span8" style="height: 30em;" />
            <input type="submit" id="memo-new-submit" name="memo-new-submit"
                   value="placeholder" style="width: 30%;"/>
          </form>
        </div>
      </div>
    </script>

    <script type="text/template" id="memo-edit-template">
      <div class="row">
        <div class="span8 offset2 well">
          <form id="memo-edit-form" style="text-align: center" method="POST">
            <input type="textbox" id="memo-edit-title" class="span4"
              placeholder="Memo title" />
            <textarea id="memo-edit-textarea" class="span8" style="height: 30em;" />
            <input type="submit" id="memo-edit-submit" name="memo-edit-submit"
                   value="placeholder" style="width: 30%;"/>
          </form>
        </div>
      </div>
    </script>

    <script type="text/template" id="index-template">
      Hello! I shall be your index today. How may I help?
    </script>

    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/bootstrap-alert.js"></script>
    <script src="/js/lib/bootstrap-button.js"></script>
    <script src="/js/lib/bootstrap-modal.js"></script>
    <script src="/js/lib/bootstrap-transition.js"></script>
    <script src="/js/lib/wysihtml5-0.3.0_rc1.js"></script>
    <script src="/js/lib/bootstrap-wysihtml5.js"></script>

    <script src="/js/auth.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/memo.js"></script>
    <script src="/js/discussion.js"></script>
    <script src="/js/router.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/init.js"></script>
  </body>
</html>

